

.calender {
    display: grid;
    grid-template-columns: repeat(7,1fr);
    grid-template-rows: 30px repeat(5,75px);
    row-gap: 20px;
    column-gap: 10px;
}
.date,.day{
    background-color: rgb(185, 219, 240);
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}
.other-month,.day{
    background-color: lightgray;
}
.day {
    font-size: 1.5em;
}